<!DOCTYPE html>
<html>
  <head>
    <title>Geolocation</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
	<link rel="stylesheet" href="vending.css"/>
	<script src="https://code.jquery.com/jquery-2.1.0.js"></script>
	<script src="vending.js"></script>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 95%;
        margin: 1.5%;
        padding: 0;
      }
    </style>
  </head>
  <body>
	<img src = "vendingicon.png" alt = "vending_icon">
	<ul class = "navBar">
		<li><a href = "contact.html">Contact Us</a></li>
		<li><a href = "feedback.html">Feedback</a></li>
		<li><a href = "search.html">Search for Inventory</a></li>
		<li><a href = "vending_test.html">Home</a></li>
	</ul>
	<form>
	<input type = "text" name="item">
	<input type = "button" name = "submit" value = "Search">
	</form>
  </body>
</html>
